{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>De Camera-unit</h2>
    <p><img src="/static/camera-unit.jpg"></p>
    <p>De camera-unit bestaat uit een infrarood camera en een Raspberry Pi Zero W single computer board in een Raspberry
        behuizing.</p>

    <h3>Hoe kom ik eraan?</h3>
    <p>Er zijn twee mogelijkheden:</p>
    <ul>
        <li>Bestellen bij AppliGate, inclusief de software op microSD kaart.</li>
        <li>Zelf de onderdelen aanschaffen en de microSD kaart met complete software bbij AppliGate bestellen.</li>
    </ul>

    <h3>Onderdelen van de camera-unit</h3>
    <p>De unit bestaat uit (prijzen bij <a href="https://www.kiwi-electronics.nl/officiele-raspberry-pi-zero-behuizing?search=behuizing&description=true">Kiwi Electronics</a> Amsterdam op 11 april 2019):</p>
    <ol>
        <li>Raspberry Pi Zero W (&euro; 10,71),</li>
        <li>Raspberry Pi NoIR Camera Board V2 (&euro; 29,95),</li>
        <li>5 mm LED infrarood IR extra helder - 940nm - 10 pack (&euro; 5,95),</li>
        <li>Raspberry Pi Voeding 5.1V/2.5A (&euro; 9,95),</li>
        <li>Raspberry Pi Zero Behuizing met korte camera adapter (&euro; 5,50),</li>
        <li>Totale kosten &euro; 62,06, exclusief mictoSD kaartje. Het voorge&iuml;nstalleerde microSD kaartje kunt
            u bij AppliGate bestellen, zie onder <a href="/prices">Prijzen</a>.</li>
    </ol>


    <p style="text-align: center;">=====</p>
</div>
{% endblock %}

