{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Prices</h2>
    <p>Overzicht prijzen:</p>
    <table>
        <tr>
            <th>Item</th>
            <th style="column-width: 100px">Prijs</th>
        </tr>
        <tr>
            <td>Camera-unit, inclusief microSD kaartje.</td>
            <td>&euro; 110,-</td>
        </tr>
        <tr>
            <td>MicroSD kaart 16GB geprogrammeerd voor de Camera Unit</td>
            <td>&euro; 20,-</td>
        </tr>
        <tr>
            <td>Basisunit, inclusief microSD kaartje</td>
            <td>&euro; 90,-</td>
        </tr>
        <tr>
            <td>MicroSD kaart 16 GB geprogrammeerd voor de basisunit</td>
            <td>&euro; 20,-</td>
        </tr>
    </table>
    <p>&nbsp;</p>
</div>
{% endblock %}

