{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>De Basisunit</h2>
    <p><img src="/static/basisunit.jpg"><br/></p>
    <p>Het is het lokale centrale systeem. Een lokale server die dag en nacht aanstaat, de beelden van de
        camera-units ophaalt en gegevens uitwisselt met de CY4LO-server.</p>
    <p>Er worden geen foto's naar de C4YLO-server gestuurd.</p>

    <h3>Gezichtsherkenning</h3>
    <p>De functie van de basisunit is om persosnen te herkennen en hun namen mee te sturen naar de C4YLO-server.</p>
    <p>Herkenning vindt plaats aan de hand van foto's van uw dierbaren en andere betrokkenen. Personen die we niet
        herkennen, krijgen het predicaat 'Unkown Person'.</p>
    <p>Kunstmatige intelligentie speelt een steeds grotere rol en we verwachten dat we meer van dergelijke
        softwarefuncties in de toekomst als extra dienst kunnen aanbieden.</p>

    <h3>Onderdelen basisunit</h3>
    <p>De unit bestaat uit (prijzen bij <a href="https://www.kiwi-electronics.nl/official-raspberry-pi-3-model-a-plus-case?search=behuizing&description=true">Kiwi Electronics</a> Amsterdam op 11 april 2019):</p>
    <ol>
        <li>Raspberry Pi model 3 A+(&euro; 27,95),</li>
        <li>Raspberry Pi Voeding 5.1V/2.5A MicroUSB (&euro; 9,95),</li>
        <li>Officiele behuizing voor Raspberry Pi 3 model A+ (&euro; 5,95).</li>
        <li>Totale kosten: &euro; 43,85, exclusief microSD kaartje. Het voorge&iuml;nstalleerde microSD kaartje kunt
            u bij AppliGate bestellen, zie onder <a href="/prices">Prijzen</a>.</li>
    </ol>

    <p style="text-align: center">=====</p>
</div>
{% endblock %}

