{% extends "base.html" %}

{% block content %}
<div class="container">
	<h2>Smartphone</h2>
	<p>U kunt met een smartphone, tablet of desktop computer de overzichten ophalen en bekijken.</p>
	<p><a href="/voorbeeld">Klik hier om het voorbeeld van hieronder live te zien.</a></p>

	<p><Het voorbeeld is hiervan afgeleid:/p>
	<img src="/static/voorbeeld.png" width="340" height="500" alt="wireframe"><br/>
	<p>Voorbeeld wat oorspronkelijk als uitgangspunt diende.</p>

	<p style="text-align: center">=====</p>
</div>
{% endblock %}

